
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');



* {
  --color-1: #434C4E;
  --color-2: #2E3738;
  --color-3: #C5BFC2;
  --color-4: #EAEBED;
  --color-5: #FFFFFF;
  --gap-sm: 0.625rem;
  --gap-base: 1.25rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
}

body {
  font-family: 'Inter' ,sans-serif;
  margin: 0px;
  color: var(--color-2);
  background: var(--color-4);
}

.box {
  padding: var(--gap-base);
  border-radius: var(--gap-base);
  background: var(--color-5)
}

button {
  font-size: var(--text-base);
  cursor: pointer;
}

h1, h2, h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.flex {
  display: flex;
  gap: var(--gap-base);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap-base);
}

.bg-1 {
  background: var(--color-1)
}

.bg-2 {
  background: var(--color-2)
}

.bg-3 {
  background: var(--color-3)
}

.bg-4 {
  background: var(--color-4)
}

.bg-5 {
  background: var(--color-5)
}

.container {
  display: grid;
  padding: var(--gap-base);
  gap: var(--gap-base);
  grid-template-columns: 240px auto;
}

/* Sidenav */

.sidenav li span {
  width: 2rem;
  height: 2rem;
  background: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--gap-base);
}

.sidenav li a {
  flex: 1;
  font-size: var(--text-lg);
  text-decoration: none;
  margin: .25rem 0;

  /* responsive */

  @media (max-width: 1000px) {
    .resumo {
      flex-direction: column;
    }
  }
  color: var(--color-1);
  padding: var(--gap-sm) 0
}

.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.sidenav li:hover span{
  background: var(--color-3);
}

/* Daterange */

.daterange {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-base);
}

/* Summary */ 

.summary {
  font-size: var(--text-xl);
  margin-bottom: var(--gap-base);
  color: var(--color-1)
}

.sales {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--gap-base);
  margin-bottom: var(--gap-sm);
  align-items: center;
}

.sales div:last-child {
  justify-self: end;
}

.sales a {
  text-decoration: none;
  color: inherit
}

/* responsive */

@media (max-width: 1000px) {
  .resumo {
    flex-direction: column;
  }

  .daterange {
    grid-template-columns: 1fr;
  }

  .daterange *:last-child {
    grid-row: 1;
  }
}

@media (max-width: 700px) {
  * {
    --gap-sm: 0.5rem;
    --gap-base: .75rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .flex {
    flex-direction: column;
  }

  .sidenav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sidenav li a {
    font-size: var(--text-sm);
  }

  .sales {
    grid-template-columns: 1fr;
  }

  .sales div:last-child {
    justify-self: start;
  }
}